@charset "UTF-8";
/*------------- PRESENTACION EN DATOS TABLA -----------------*/
#cuadrogeneral {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

#headTitle {
  background: #ff381a;
  padding: 10px;
  padding-left: 30px;
  color: white;
  font-size: 17px;
}

#headTitleBlue {
  background: #3bd9e2;
  padding: 10px;
  padding-left: 30px;
  color: #f7fcff;
}

.card {
  border: 1.2px rgba(93, 97, 90, 0.68) dashed;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  font-size: 16px;
}

.grid-container-cabecera {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  padding: 10px;
  background: gray;
}

.grid-container-cabecera > div {
  display: grid;
  text-align: center;
  font-size: 16px;
}

/*----------------FORMULARIO-USER-----------------*/
form {
  /* Sólo para centrar el formulario a la página */
  margin-top: 5%;
  margin-bottom: 5%;
  width: auto;
  /* Para ver el borde del formulario */
  border: 1px solid rgba(158, 163, 158, 0.6);
}

#paddingForm {
  padding: 40px;
  padding-top: 20px;
}

input {
  width: 60%;
  border: none;
  border-bottom: 1px solid #E24A29;
}

select {
  width: 60%;
  border: none;
  border-bottom: 1px solid #E24A29;
}

.grid-container-form {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-container-form > div {
  font-size: 14px;
}

#textoGrande {
  color: #ff381a;
  font-size: 25px;
  font-family: fsans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.boton_1 {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  margin-top: 12%;
}

.boton_1:hover {
  opacity: 0.6;
  text-decoration: none;
}

select {
  margin: 8px;
}

/* -------------------VALIDACION DE FORMULARTIO------------------*/
input:valid {
  border: none;
  border-bottom: 1px solid #3bd9e2;
}

/*----------------------TARJETAS City--------------------*/
.tarjeta {
  width: 300px;
  height: 300px;
  margin: 15%;
  margin-right: 0px;
}

.tarjeta-titulo {
  background: #ff381a;
  padding: 3%;
  color: #f9fffe;
  text-align: center;
}

.tarjeta-dentro {
  padding: 4%;
  border: 2px #ff381a solid;
  border-top: none;
  width: 300px;
  height: 300px;
}

.titulo {
  color: #ff381a;
  font-size: larger;
  padding-left: 1.5%;
  margin: 3%;
}

#division-tj {
  display: grid;
  grid-template-columns: 20% 80%;
  padding-left: 4%;
}

.inL {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-left: 15px;
}

.TitFont {
  color: #ff381a;
}

.boxi {
  margin-bottom: 3%;
}

.boton_2 {
  background-color: #42acaf;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  margin-top: 15%;
}

.boton_2:hover {
  opacity: 0.6;
  text-decoration: none;
}

#cuadrotarjetas {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

/*----------TERJETSAS TERAM---------*/
.container {
  min-height: 60%;
  max-height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tarjetas {
  min-width: 300px;
  max-width: 350px;
  min-height: 300px;
  border: 2px solid #ff381a;
  margin: 30px;
}
.tarjetas .tituloTarjeta {
  background-color: #ff381a;
  padding: 9px;
  text-align: center;
  color: white;
  font-weight: bolder;
}
.tarjetas .divTj {
  display: grid;
  grid-template-columns: 25% 65% 10%;
  padding: 10px;
}
.tarjetas .divTj div {
  padding: 1px;
}
.tarjetas .divTjLine {
  padding: 10px;
}
.tarjetas .divTjLine div {
  padding: 1px;
}
.tarjetas .divTitle {
  color: #ff381a;
  padding-left: 24px;
  font-weight: bold;
}
.tarjetas button {
  background-color: #42acaf;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  float: right;
}
.tarjetas button:hover {
  opacity: 0.6;
  text-decoration: none;
}

.boton_4 {
  text-decoration: none;
  text-align: center;
  background-color: #1faf5a;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  display: block;
  position: fixed;
  width: 20px;
  right: 20px;
  bottom: 10vh;
}
.boton_4:hover {
  background-color: #af2122;
}

/*-------------FORMULARIO TEAMS-----------------*/
.teamForm1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 5%;
  margin-left: 5%;
}
.teamForm1 form {
  width: 80%;
}
.teamForm1 .TFTitle {
  background-color: #ff381a;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}
.teamForm1 .body {
  padding: 10px;
}
.teamForm1 .body .divs {
  margin-bottom: 10px;
}
.teamForm1 .body .divs input {
  border-bottom-color: #42acaf;
  max-width: 300px;
}
.teamForm1 .body .divs textarea {
  min-width: 90%;
  min-height: 13vh;
  margin-top: 5px;
  padding: 11px;
  border: 1px solid #42acaf;
  border-radius: 4px;
  background-color: #f8f8f8;
}
.teamForm1 .body .divs .subtitles {
  color: #ff381a;
  font-weight: bolder;
  font-size: 18px;
}
.teamForm1 .body .divs .BMdiv {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  flex-wrap: wrap;
}
.teamForm1 .body .divs .BMdiv select {
  min-width: 180px;
  max-width: 350px;
  border-bottom-color: #42acaf;
}
.teamForm1 .body .divs .BMdiv .subtitles3 {
  color: #ff381a;
  font-size: 15px;
  padding-left: 10px;
}
.teamForm1 .body .divs .BMdiv .subtitles3 div {
  padding-top: 6px;
}
.teamForm1 .body .divs .BMdiv .blockedInfo div {
  padding-top: 6px;
  margin-left: 15px;
}
.teamForm1 .body .divs .RedSubtitle {
  color: white;
  background: #ff381a;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.boton_FT {
  background-color: #23c9ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  margin: 20px;
}

.boton_FT:hover {
  opacity: 0.6;
  text-decoration: none;
}

/* -------------------HEADER------------------*/
#header {
  list-style-type: none;
  margin: 0;
  padding: 0.5%;
  padding-right: 3%;
  overflow: hidden;
  background: #ff381a;
}

#demiumTitle {
  float: Left;
  font-family: "Lucida Bright";
  font-size: 25px;
  color: white;
  margin: 1%;
}
@media screen and (max-width: 440px) {
  #demiumTitle {
    font-size: 15px;
    margin-top: 15px;
  }
}

#header a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
#header a:hover {
  font-size: 18px;
  font-weight: bold;
  border-radius: 10%;
}

.botonesMenu {
  float: right;
}

/*---------------------FOOTER---------------------*/
.footer {
  background: #ff381a;
  padding: 31px;
  font-family: "Lucida Bright";
  font-size: 15px;
  color: white;
  margin-top: 150px;
}

/*# sourceMappingURL=App.css.map */
