

/*------------- PRESENTACION EN DATOS TABLA -----------------*/

#cuadrogeneral{
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

#headTitle{
  background: #ff381a;
  padding: 10px;
  padding-left: 30px;
  color: white;
}

#headTitleBlue{
    background: #3bd9e2;
    padding: 10px;
    padding-left: 30px;
    color: #f7fcff;
}

.card{
  margin-left: 50px;
  margin-right: 50px;
  border: 1.2px rgba(93, 97, 90, 0.68) dashed;

}

.grid-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  font-size: 16px;
}

.grid-container-cabecera{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  padding: 10px;
  background: gray;
}
.grid-container-cabecera > div {
  text-align: center;
  font-size: 16px;
}

/*----------------FORMULARIO-----------------*/

form {
    /* Sólo para centrar el formulario a la página */
    margin:50px;
    margin-left: 50px;
    width: auto;
    /* Para ver el borde del formulario */
    border: 1px solid rgba(158, 163, 158, 0.6);
}
#paddingForm{
    padding: 40px;
    padding-top: 20px;
}

input[type=text] {
    width: 50%;
    padding: 2px 2px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #E24A29;
}


.grid-container-form{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-container-form > div {
    font-size: 14px;
}

#textoGrande{
    color: #ff381a;
    font-size: 25px;
    font-family: fsans-serif;
    font-weight: bold;
}

.boton_1{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    float: right;
    margin-top: 21%;
}
.boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
}

/* -------------------HEADER------------------*/


#header {
    list-style-type: none;
    margin: 0;
    padding: 0.5%;
    padding-right: 3%;
    overflow: hidden;
    background: #ff381a;
}

#demiumTitle{
    float:Left;
    font-family: "Lucida Bright";
    font-size: 25px;
    color: white;
    margin: 1%;
}

#header a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.botonesMenu {
    float: right;
}


/*---------------------FOOTER---------------------*/

.footer{
    position: absolute;
    height: 85px;
    width: 100%;
    background: #ff381a;
    padding: 31px;
    font-family: "Lucida Bright";
    font-size: 15px;
    color: white;
}
